{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Авторизация</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/opensans-font.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="form-v7-content" style="width: 580px;">
            <form class="form-detail" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <label for="username">Логин</label>
                    <div class="input-text">{{ form.username }}</div>
                </div>
                <div class="form-row">
                    <label for="password">Пароль</label>
                    <div class="input-text">{{ form.password }}</div>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="login" class="register" value="Войти">
                    <p><a href="{% url 'signup' %}">Не зарегистрированы?</a></p>
                    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
                    <p><a class="btn btn-primary text-white" href="/login/vk-oauth2" role="button">Войти с помощью
                        <i class="fab fa-vk" data-toggle="tooltip"></i></a></p>
                    <p><a class="btn btn-success text-white" href="/login/google-oauth2" role="button">Войти с помощью
                        <i class="fab fa-google" data-toggle="tooltip"></i></a></p>
                    <p><a class="btn btn-primary text-white" href="{% url "social:begin" "facebook" %}" role="button">Войти с помощью
                        <i class="fab fa-facebook" data-toggle="tooltip"></i></a></p>
                    {% if form.errors %}
                        <p class="text-danger">Ваш пароль и логин не подходят. Попробуйте снова.</p>
                    {% endif %}
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>
{% endblock %}