{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Authorization</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/opensans-font.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="form-v7-content">
                        <form class="form-detail" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <h1 class="title" align="center">Log in</h1>
                            <div class="entry_fields">
                                <label for="username">LOGIN</label>
                                <input type="text" name="username" id="username" class="input-text form-control" required>
                                <label for="password">PASSWORD</label>
                                <input type="password" name="password" id="pwd" class="input-text form-control" required>
                            </div>
                            <input type="submit" name="login" class="register" value="log in">
                            {% if form.errors %}
                                <p class="text-danger" align="center">Your password and login do not match. Try it
                                    again.</p>
                            {% endif %}
                            <div class="addpos">
                                <p align="center">OR</p>
                                <p align="center"><a href="{% url "social:begin" "vk-oauth2" %}"><i class="fab fa-vk"
                                                                                                    data-toggle="tooltip"></i>
                                    LOG IN WITH VK.COM</a></p>
                                <p align="center"><a href="{% url "social:begin" "google-oauth2" %}"><i
                                        class="fab fa-google" data-toggle="tooltip"></i> LOG IN WITH GOOGLE.COM</a></p>
                                <p align="center"><a href="{% url "social:begin" "facebook" %}"><i
                                        class="fab fa-facebook" data-toggle="tooltip"></i> LOG IN WITH FACEBOOK.COM</a>
                                </p>

                                <p><a class="reg" href="{% url 'signup' %}">Not registered?</a></p>
                                <p><a class="changepass" href="{% url 'password_reset' %}">Forgot password?</a></p>
                            </div>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="{% static 'images/pictures.png' %}" class="img-fluid" alt="saved images">
                </div>
            </div>
        </div>
    </div>
{% endblock %}