{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Change password</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/opensans-font.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="form-v7-content">
            <form class="form-detail" method="post">
                {% csrf_token %}
                <h1 class="title" align="center">Change password</h1>
                <div class="entry_fields">
                    <label for="username">E-MAIL</label>
                    <input type="text" name="username" id="username" class="input-text form-control" required>
                </div>
                <input type="submit" name="login" class="register" value="change password">
                {% if form.errors %}
                    <p class="text-danger" align="center">The entered mail is incorrect. Try it again.</p>
                {% endif %}
                <div class="addpos">
                    <p align="center">OR</p>
                    <p align="center"><a href="{% url 'login' %}?next={% url 'main_window' %}"><i
                            class="fas fa-sign-in-alt" data-toggle="tooltip"></i> LOG IN</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}