{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Сброс пароля</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/opensans-font.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        <h5>We have sent further instructions to your email. If you do not receive an email within a few minutes, then
            check your spam folder.</h5>
    </div>
{% endblock %}