{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Сброс пароля</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/opensans-font.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        {% if validlink %}
            <div class="form-v7-content" style="width: 580px;">
                <form class="form-detail" action="" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <label for="id_new_password1">New password</label>
                        <div class="input-text">{{ form.new_password1 }}</div>
                    </div>
                    <div class="form-row">
                        <label for="id_new_password2">Confirm password</label>
                        <div class="input-text">{{ form.new_password2 }}</div>
                    </div>
                    <div class="form-row-last">
                        <input type="submit" name="reset" class="register" value="Save password">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </form>
            </div>
        {% else %}
            <div style="min-height: 300px">
                <h5>Password change failed. The link to change the password is incorrect, possibly because it has
                    already been used. Please make a new password change request.</h5>
            </div>
        {% endif %}
    </div>
{% endblock %}