.main-window {
    min-height: 200vh;
    padding-top: 20vh;
    background-image: url("../images/web2/fon2.jpg");
}

.kaifkaif2 {
    font-family: Century Gothic;
    font-size: 1.1em;
    font-weight: normal;
}

.border {
    list-style: none;
    padding: 0;
}

.border li {
    font-family: Century Gothic;
    padding: 6px 6px;
    margin-bottom: 8px;
    border-radius: 15px;
    border-left: 10px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
    -2px -2px 5px 0 rgba(0, 0, 0, .1),
    2px 2px 5px 0 rgba(0, 0, 0, .1),
    -2px 2px 5px 0 rgba(0, 0, 0, .1);
    font-size: 17px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
}

.border li:nth-child(2) {
    border-color: #8bc63e;
}

.border li:nth-child(3) {
    border-color: #fcba30;
}

.border li:nth-child(4) {
    border-color: #1ccfc9;
}

.border li:nth-child(5) {
    border-color: #493224;
}

.border li:hover {
    border-left: 10px solid transparent;
}

.border li:nth-child(1):hover {
    border-right: 10px solid #f05d22;
}

.border li:nth-child(2):hover {
    border-right: 10px solid #8bc63e;
}

.border li:nth-child(3):hover {
    border-right: 10px solid #fcba30;
}

.border li:nth-child(4):hover {
    border-right: 10px solid #1ccfc9;
}

.border li:nth-child(5):hover {
    border-right: 10px solid #493224;
}

.text-shadow-1 {
    font-family: Century Gothic;
    font-size: 40px;
    color: black;
    text-shadow: -25px -25px 0 #9c533e, -25px -25px 0 #6f9654, -25px -25px 0 #6f9654, 25px 25px 0 #6f9654, 25px 25px 0 white, 25px 25px 0 white, 18px 18px 0 white;
    letter-spacing: 0.1em;
}

.text-shadow-2 {
    font-family: Century Gothic;
    font-size: 20px;
    color: #000000;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
}

.text-shadow-3 {
    font-family: Century Gothic;
    font-size: 30px;
    color: black;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px #f05d22, 0 0 35px #f05d22, 0 0 40px #f05d22, 0 0 50px #f05d22, 0 0 75px #f05d22;
}

.text-shadow-4 {
    font-family: Century Gothic;
    font-size: 30px;
    color: black;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px #8bc63e, 0 0 35px #8bc63e, 0 0 40px #8bc63e, 0 0 50px #8bc63e, 0 0 75px #8bc63e;
}

.text-shadow-5 {
    font-family: Century Gothic;
    font-size: 30px;
    color: black;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px #fcba30, 0 0 35px #fcba30, 0 0 40px #fcba30, 0 0 50px #fcba30, 0 0 75px #fcba30;
}

.text-shadow-6 {
    font-family: Century Gothic;
    font-size: 30px;
    color: black;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px #1ccfc9, 0 0 35px #1ccfc9, 0 0 40px #1ccfc9, 0 0 50px #1ccfc9, 0 0 75px #1ccfc9;
}

.kaifkaif {
    font-family: Century Gothic;
    font-size: 1.3em;
    font-weight: bold;
}

.a1 {
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 120px;
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
.a1:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
  transform: translateY(-2px);