.team {
    /*margin: 40px;*/
    margin-top: 130px;
    margin-bottom: 130px;
    position: relative;
}

.team .text {
    /*margin: 1em;*/
    width: 450px;
    color: #2C2525;
    font-weight: bold;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

.team .img-fluid {
    margin-left: 100px;
    width: 300px;
    height: 400px;
}

