.main-window {
    min-height: 200vh;
    padding-top: 40vh;
    background-image: -moz-linear-gradient(90deg, #f68084 0%, #fff 30%, #fff 70%,#a6c0fe 100%);
    background-image: -webkit-linear-gradient(90deg, #f68084 0%, #fff 30%, #fff 70%,#a6c0fe 100%);
    background-image: -ms-linear-gradient(90deg, #f68084 0%, #fff 30%, #fff 70%,#a6c0fe 100%);
}