.a1 {
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 120px;
    height: 55px;
    line-height: 55px;
    border-radius: 10px;
    border-color: #2c2525;
    border-style: solid;
    border-width: thin;
    margin: 5px 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: #2c2525;
    background: #ded8c5;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.a1:hover, .a1.active {
    background: #2c2525;
    color: #ded8c5;
    transform: translateY(-2px);
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none;
}

.site-wrap {
    width: 100%;
    height: 100%;
    padding-top: 12vh;
    padding-bottom: 10vh;
    overflow: hidden;
}

.main-content {
    width: 100%;
}

@media (max-width: 991.98px) {
    .main-content {
        width: 100%;
        position: relative;
        float: none;
    }
}

.main-content .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 991.98px) {
    .main-content .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.main-content .photos .photo-item {
    position: relative;
    margin-bottom: 20px;
}

.main-content .photos .photo-item:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
}

.main-content .photos .photo-item .photo-text-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 30px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.main-content .photos .photo-item .photo-text-more .heading {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
}

.main-content .photos .photo-item .photo-text-more .meta {
    color: #cccccc;
    font-size: 12px;
}

.main-content .photos .photo-item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 300px;
}

@media (max-width: 575.98px) {
    .main-content .photos .photo-item img {
        height: 200px;
    }
}

.main-content .photos .photo-item:hover:after {
    opacity: 1;
    visibility: visible;
}

.main-content .photos .photo-item:hover .photo-text-more {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}

.input {
    background-image: url("../images/search.png");
    background-position: -1px 8px;
    background-repeat: no-repeat;
    background-color: #ded8c5;
    background-size: 40px 40px;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 120px;
    height: 55px;
    line-height: 55px;
    border-radius: 10px;
    border-color: #2c2525;
    border-style: solid;
    border-width: thin;
    margin: 5px 10px;
    text-align: right;
    font-weight: 500;
    color: #827979;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.search-button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 70px;
    height: 55px;
    line-height: 55px;
    border-radius: 10px;
    border-color: #2c2525;
    border-style: solid;
    border-width: thin;
    margin: 5px 10px;
    text-align: center;
    font-weight: 500;
    color: #ded8c5;
    background: #827979;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.search-button:hover, .search-button.active {
    background: #2c2525;
    color: #ded8c5;
    transform: translateY(-2px);
}