.contact{
    background: #682a68;
    border-style: double;
    border-radius: 10px 40px;
    margin-top: 6em;
    margin-right: 40em;
    margin-left: 2em;
    color: white;
    font-size: 22px;
    font-family: 'Philosopher', sans-serif;
    padding: 1em;
}

.mail{
    margin-top: 1em;
}

.contact a{
    color: white;
    font-size: 20px;
    font-family: 'Philosopher', sans-serif;
}

.contact a:hover{
    color: #682a68;
    background: white;
}