.team{
 margin: 6em;
 margin-top: 10em;
 position: relative;
}
.team h1{
 margin: 1em;
 color: #682a68;
 font-weight: bold;
 font-size: 30px;
 font-family: 'Philosopher', sans-serif;
}
.team .item{
 position: relative;
}
.team .img-fluid{
 width: 300px;
}
.team .des{
 color: #682a68;
 text-align: center;
/* border-bottom-left-radius: 93%;
 width: 86%;
 transition:.3s ease-in-out;
 background: grey;*/
 font-family: 'Philosopher', sans-serif;
 font-weight: bold;
 font-size: 20px;
}
/*.team .text-muted{
 font-family: 'Philosopher', sans-serif;
  color: white;
}
.team .item:hover .des{
 height: 100%;
 background: rgba(104, 42, 104, 0.85);
 position: absolute;
 width: 80%;
 padding: 5em;
 top: 0;
 border-bottom-left-radius: 0;
}*/

.team .s{
    font-size: 20px;
    font-family: 'Philosopher', sans-serif;
    color: #682a68;
}
