html {
    position: relative;
    min-height: 100%;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #000;
    text-decoration: none;
}

@media (max-width: 991px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }

    .navbar .nav-link:hover, .navbar .nav-link:focus {
        color: #000;
        text-decoration: none;
    }
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
}

.page-footer a {
    color: black;
}

@media screen and (max-width: 767px) {
    .page-footer {
        height: 120px;
    }
}