.addpic {
    margin: 6em;
    position: relative;
}

.addpic .right {
    max-width: 500px;
}
.addpic .right .btn {
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border-color: #2c2525;
    border-style: solid;
    border-width: thin;
    margin: 5px 10px;
    text-align: center;
    font-weight: bold;
    color: #2c2525;
    background: #ded8c5;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    font: 15pt 'Russo One';
}

.addpic .right .btn:hover, .addpic .right .btn:focus {
    background: #2c2525;
    color: #ded8c5;
    transform: translateY(-2px);
}

.addpic .meadow {
    margin-left: 2em;
    padding: 1em;
    border-left: 4px solid #ded8c5;
    border-radius: 4px;
}

.addpic .preview {
    /*border-right: 4px solid #682a68;*/
}

.thumb {
    width: 400px;
    border: 1px solid #000;
    margin: 10px;
}
