.addpic {
    margin: 6em;
    position: relative;
}

.addpic .right {
    max-width: 500px;
}

.addpic .right .btn {
    background: #682a68;
    font-size: 20px;
    color: white;
}

.addpic .right .btn:hover, .addpic .right .btn:focus  {
    background: #680268;
}

.addpic .meadow {
    margin-left: 2em;
    padding: 1em;
}

.addpic .preview {
    border-right: 4px solid #682a68;
}

.thumb {
    width: 400px;
    border: 1px solid #000;
    margin: 10px;
}
