.page-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    overflow: hidden;
}

.page-content h5 {
    color: #827979;
}

.page-content a {
    color: #2C2525;
}

.page-content .img-fluid {
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 0px; /*ssssssss*/
    height: 500px;
    width: 572px;
}

#img_reg {
   margin-top: 200px;
}

.form-v7-content {
    width: 400px;
    position: relative;
    /*display: flex;
    display: -webkit-flex;*/
    border: 6px solid #2C2525;
    border-radius: 45px;
}

.form-v7-content .form-detail .title {
    color: #2C2525;
    font: 24pt 'Russo one';
}

.form-v7-content .form-detail {
    position: relative;
    width: 100%;
    font: 10pt 'Roboto';
    color: #2C2525;
    /*background: #fff;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);*/
}

.form-v7-content .form-detail .entry_fields {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
}

.form-v7-content .form-detail .input-text {
    border: 1px solid #2C2525;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 100%;

}

/*хз зачем это было
.form-v7-content .form-detail input {
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/

.form-v7-content .form-detail input:focus {
    background-color: #E7E5E5;
}

.form-v7-content .form-detail .register {
    background: #DED8C5;
    border: 1px solid #2C2525;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 160px;
    height: 40px;
    color: #2C2525;
    font: 12pt 'Russo one';
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.form-v7-content .form-detail .register:hover {
    background: #2C2525;
    color: #DED8C5;
}

.form-v7-content .form-detail p {
    font: 10pt 'Roboto';
    color: #2C2525;
    margin-bottom: 10px;
}

.form-v7-content .form-detail .addpos {
    margin-bottom: 10px;
    position: relative;
}

.reg {
    position: absolute;
    left: 40px;
    bottom: -60px;
}

.changepass {
    position: absolute;
    right: 40px;
    bottom: -60px;
}

/*.form-v7-content .form-detail .form-row-last {
    margin-top: 35px;
}

.form-v7-content .form-detail .form-row-last input {
    padding: 15px;
}

.form-v7-content .form-detail .form-row-last p {
    font-weight: 600;
    font-size: 14px;
    color: #666;
    margin-left: 200px;
}

.form-v7-content .form-detail .form-row-last a {
    font-size: 16px;
    color: #682a68;
    padding-left: 10px;
}







.form-v7-content .alerts {
    width: 110px;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.form-v7-content .form-left {
    position: relative;
    color: #fff;
    font-weight: 400;
    width: 92.5%;
    margin-top: 32px;
}

.form-v7-content .form-left img {
    width: 100%;
}

.form-v7-content .form-left .text-1,
.form-v7-content .form-left .text-2 {
    position: absolute;
    text-align: center;
    width: 100%;
}

.form-v7-content .form-left .text-1 {
    font-size: 38px;
    top: 1.5%;
}

.form-v7-content .form-left .text-2 {
    font-size: 16px;
    bottom: 5%;
}*/



@media screen and (max-width: 1120px), screen and (max-height: 900px){
    .form-v7-content {
        margin: 130px 40px;
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;

    }

    .form-v7-content .alerts {
        width: 600px;
    }

    .form-v7-content .form-left {
        width: 100%;
        margin-bottom: -5px;
    }

    .form-v7-content .form-detail {
        padding: 20px;
        width: auto;
    }

    .form-v7-content .form-detail .register {
        margin-bottom: 20px;
    }
}

/*@media screen and (max-width: 767px) {
    .form-v7-content .alerts {
        width: 360px;
    }
}

@media screen and (max-width: 575px) {
    .form-v7-content .form-detail {
        padding: 30px 20px;
        width: auto;
    }

    .form-v7-content .form-detail .register {
        float: none;
        margin-bottom: 10px;
    }

    .form-v7-content .form-detail .form-row-last p {
        margin-left: 0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 374px) {
    .form-v7-content .form-detail {
        padding: 30px 0 0 12vw;
        width: auto;
    }

    .form-v7-content .alerts {
        width: 300px;
    }
}*/