.vk_import {
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border-color: #2c2525;
    border-style: solid;
    border-width: thin;
    margin: 5px 10px;
    text-align: center;
    font-weight: bold;
    color: #2c2525;
    background: #ded8c5;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    font: 15pt 'Russo One';
}

.vk_import:hover, .vk_import.active {
    background: #2c2525;
    color: #ded8c5;
    transform: translateY(-2px);
}

.username {
  font: 25pt 'Russo One';
}