.page-content {
    width: 100%;
    min-height: 100vh;
    background-image: -moz-linear-gradient(90deg, #f68084 0%, #fff 35%, #fff 65%, #a6c0fe 100%);
    background-image: -webkit-linear-gradient(90deg, #f68084 0%, #fff 35%, #fff 65%, #a6c0fe 100%);
    background-image: -ms-linear-gradient(90deg, #f68084 0%, #fff 35%, #fff 65%, #a6c0fe 100%);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    overflow: hidden;
}

.form-v7-content {
    width: 1100px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: flex;
    display: -webkit-flex;
}


.form-v7-content .alerts {
    width: 110px;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.form-v7-content .form-left {
    position: relative;
    color: #fff;
    font-weight: 400;
    width: 92.5%;
    margin-top: 32px;
}

.form-v7-content .form-left img {
    width: 100%;
}

.form-v7-content .form-left .text-1,
.form-v7-content .form-left .text-2 {
    position: absolute;
    text-align: center;
    width: 100%;
}

.form-v7-content .form-left .text-1 {
    font-size: 38px;
    top: 1.5%;
}

.form-v7-content .form-left .text-2 {
    font-size: 16px;
    bottom: 5%;
}

.form-v7-content .form-detail {
    padding: 73px 80px 41px;
    position: relative;
    width: 100%;
    background: #fff;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.form-v7-content .form-detail .form-row {
    width: 100%;
    position: relative;
}

.form-v7-content .form-detail .form-row label {
    color: #666;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 3px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.form-v7-content .form-detail .input-text {
    margin-bottom: 28px;
}

.form-v7-content .form-detail input {
    width: 100%;
    padding: 5px 15px 10px 15px;
    border: 2px solid transparent;
    border-bottom: 2px solid #e5e5e5;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form-v7-content .form-detail .form-row input:focus {
    border-bottom: 2px solid #682a68;
}

.form-v7-content .form-detail .register {
    background: #682a68;
    border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 196px;
    border: none;
    margin: -13px 0px 50px 0px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    float: left;
}

.form-v7-content .form-detail .register:hover {
    background: #680268;
}

.form-v7-content .form-detail .form-row-last {
    margin-top: 35px;
}

.form-v7-content .form-detail .form-row-last input {
    padding: 15px;
}

.form-v7-content .form-detail .form-row-last p {
    font-weight: 600;
    font-size: 14px;
    color: #666;
    margin-left: 200px;
}

.form-v7-content .form-detail .form-row-last a {
    font-size: 16px;
    color: #682a68;
    padding-left: 10px;
}

@media screen and (max-width: 1120px), screen and (max-height: 900px){
    .form-v7-content {
        margin: 180px 20px;
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
    }

    .form-v7-content .alerts {
        width: 600px;
    }

    .form-v7-content .form-left {
        width: 100%;
        margin-bottom: -5px;
    }

    .form-v7-content .form-detail {
        padding: 50px;
        width: auto;
    }

    .form-v7-content .form-detail .register {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    .form-v7-content .alerts {
        width: 360px;
    }
}

@media screen and (max-width: 575px) {
    .form-v7-content .form-detail {
        padding: 30px 20px;
        width: auto;
    }

    .form-v7-content .form-detail .register {
        float: none;
        margin-bottom: 10px;
    }

    .form-v7-content .form-detail .form-row-last p {
        margin-left: 0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 374px) {
    .form-v7-content .form-detail {
        padding: 30px 0 0 12vw;
        width: auto;
    }

    .form-v7-content .alerts {
        width: 300px;
    }
}