{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Регистрация</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/opensans-font.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="form-v7-content">
            <div class="form-left">
                <img src="{% static 'images/form-v7.jpg' %}" alt="form">
                <p class="text-1">Регистрация</p>
                <p class="text-2">Privacy policy & Terms of service</p>
            </div>
            <form class="form-detail"  action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <label for="first_name">Имя</label>
                    <input type="text" name="first_name" id="first_name" class="input-text form-control">
                </div>
                <div class="form-row">
                    <label for="username">Логин</label>
                    <input type="text" name="username" id="username" class="input-text form-control" required>
                </div>
                <div class="form-row">
                    <label for="your_email">e-mail</label>
                    <input type="email" name="email" id="email" class="input-text form-control" required>
                </div>
                <div class="form-row">
                    <label for="password">Пароль</label>
                    <input type="password" name="password1" id="pwd1" class="input-text form-control" required>
                </div>
                <div class="form-row">
                    <label for="confirm_password">Подтверждение пароля</label>
                    <input type="password" name="password2" id="pwd2" class="input-text form-control" required>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Зарегистрироваться">
                    <p>Или<a href="{% url 'login' %}">Авторизоваться</a></p>
                </div>
            </form>
            <div aria-live="polite" aria-atomic="true">
                <div class="alerts">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="toast bg-danger rounded mt-3 ml-2 p-1" role="alert" aria-live="assertive"
                                 aria-atomic="true" data-autohide="false">
                                <div class="toast-header">
                                    <button type="button" class="ml-2 mb-1 close"
                                            onclick="$( this ).parents('.toast').remove()"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body text-white">
                                    {{ error }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}