{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Sign up success</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/opensans-font.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        <h5>Thank you for confirming your mail! Now you can log in. <a href="{% url 'login' %}">Click to log in.</a>
        </h5>
    </div>
{% endblock %}