{% extends "base_wrapper.html" %}
{% load static %}
{% load trans from i18n %}

{% block title %}
    <title>Registration</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/opensans-font.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="{% static 'images/pictures.png' %}" class="img-fluid" id="img_reg" alt="saved images">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="form-v7-content">
                        <form class="form-detail" action="{% url 'signup' %}" method="post">
                            {% csrf_token %}
                            <h1 class="title" align="center">Sign up</h1>
                            <div class="entry_fields">
                                <label for="first_name">NAME</label>
                                <input type="text" name="first_name" id="first_name" class="input-text form-control">
                                <label for="username">LOGIN</label>
                                <input type="text" name="username" id="username" class="input-text form-control"
                                       required>
                                <label for="your_email">E-MAIL</label>
                                <input type="email" name="email" id="email" class="input-text form-control" required>
                                <label for="password">PASSWORD</label>
                                <input type="password" name="password1" id="pwd1" class="input-text form-control"
                                       required>
                                <label for="password">CONFIRM PASSWORD</label>
                                <input type="password" name="password2" id="pwd2" class="input-text form-control"
                                       required>
                            </div>
                            <input type="submit" name="login" class="register" value="sign up">
                            <div class="addpos">
                                <p align="center">OR</p>
                                <p align="center"><a href="{% url 'login' %}?next={% url 'main_window' %}"><i
                                        class="fas fa-sign-in-alt" data-toggle="tooltip"></i> LOG IN</a></p>
                                <p align="center"><a href="{% url "social:begin" "vk-oauth2" %}"><i class="fab fa-vk"
                                                                                                    data-toggle="tooltip"></i>
                                    SIGN UP WITH VK.COM</a></p>
                                <p align="center"><a href="{% url "social:begin" "google-oauth2" %}"><i
                                        class="fab fa-google" data-toggle="tooltip"></i> SIGN UP WITH GOOGLE.COM</a></p>
                                <p align="center"><a href="{% url "social:begin" "facebook" %}"><i
                                        class="fab fa-facebook" data-toggle="tooltip"></i> SIGN UP WITH FACEBOOK.COM</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div aria-live="polite" aria-atomic="true">
                <div class="alerts">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="toast bg-danger rounded mt-3 ml-2 p-1" role="alert" aria-live="assertive"
                                 aria-atomic="true" data-autohide="false">
                                <div class="toast-header">
                                    <button type="button" class="ml-2 mb-1 close"
                                            onclick="$( this ).parents('.toast').remove()"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body text-white ">
                                    <small>{{ error }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}