{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Sign up failed</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/opensans-font.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        <h5>Incorrect activation link! <a href="{% url 'signup' %}">Click to register.</a></h5>
    </div>
{% endblock %}