{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Confirm your mail</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/opensans-font.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-awesome/css/line-awesome.min.css' %}">
{% endblock %}

{% block content %}
    <div class="page-content">
        <h5>A letter has been sent to your mail. Please follow the link in the letter to confirm your mail and complete
            registration.</h5>
    </div>
{% endblock %}