{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Основная страница</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_about.css' %}">
{% endblock %}

{% block content %}
    <div class="team">
        <div class="container">
            <pre class="s">
            🔮Нашу команду вместе собрал Сибирский Федеральный Университет.
            🔮"Сохраненки" является курсовым проектом.
            🔮Идея работы предоставленна преподавателем П.В. Пересунько.
            🔮Все мы одногруппники и учимся на 2 курсе специальности "Программная инженерия".
            </pre>
            <hr align="center" size=3px color=#682a68>
            <h1 class="text-center">"Our Team"</h1>
            <hr align="center" size=3px color=#682a68>
         <div class="row">
             <div class="col-lg-4 col-md-4 col-sm-12 item">
                 <img src="{% static 'images/dz.png' %}"" class="img-fluid" alt="team">
                 <div class="des">
                Данил
                 </div>
                 <span class="text-muted">Creator, Lord</span>
             </div>
             <div class="col-lg-4 col-md-4 col-sm-12 item">
                 <img src="{% static 'images/ak.png' %}" class="img-fluid" alt="team">
                 <div class="des">
                Арина
                 </div>
                 <span class="text-muted">Mastermind, Idol</span>
             </div>
             <div class="col-lg-4 col-md-4 col-sm-12 item">
                 <img src="{% static 'images/dp.png' %}" class="img-fluid" alt="team">
                 <div class="des">
                Данил
                 </div>
                 <span class="text-muted">Creative Manager, Power</span>
             </div>
         </div>
        </div>
    </div>
{% endblock %}