{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>About us</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_about.css' %}">
{% endblock %}

{% block content %}
    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="text">
                        <p align="justify">
                            The developed software product solves the problem of searching for a specific image in a
                            personalized user database. The project is a web service where you can add a title,
                            description and hashtags to each of the images. Search and sort by given properties. Among
                            other things, "Saved" automatically completes the description with recognizable text and
                            generates a signature describing the processes from the image. Also, hashtags are
                            automatically added, meaning objects recognized in the image.
                        </p>
                        <p align="justify">
                            A personalized image database is created by importing files from the user's device, as well
                            as a special function of the web service - importing images from the "Saved Photos" album on
                            the VK social network.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{% static 'images/we.png' %}" class="img-fluid" alt="team">
                </div>
            </div>
        </div>
    </div>
{% endblock %}