{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Основная страница</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_add_photo.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding-top: 20vh;">
        <div class="addpic">
            <div class="container">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 right preview" id="preview">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 right meadow">
                            <div class="form-group">
                                {{ form.title }}
                            </div>
                            <div class="form-group">
                                {{ form.image }}
                            </div>
                            <div class="form-group">
                                <div id="hashtags-app" class="app-container"></div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        {{ form.description }}
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-secondary btn-block" value="Сохранить" name="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="{% static 'js/hashtags_app.js' %}"></script>
    <script src="{% static 'js/scripts_add_photo.js' %}"></script>
{% endblock %}