{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Ваша картинка</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_add_photo.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid" style="min-height: 200vh; padding-top: 20vh;">
        <div class="addpic">
            <div class="container">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 right text">
                            <output id="list" class="outlist"></output>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 right meadow">
                            <div class="form-group">
                                {{ form.title }}
                            </div>
                            <div class="form-group">
                                <input type="file" id="files" name="files[]" >
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-1 input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">#</span>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <input type="text" class="form-control" placeholder="Новый тег"
                                               aria-label="Новый тег" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">Добавить</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        {{ form.description }}
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-secondary btn-block" value="Сохранить" name="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript" src="{% static 'js/script_add_photo.js' %}"></script>
{% endblock %}