{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Основная страница</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_contact.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12" >
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 ">
                <p>Вы можете сязаться с нами по почте: </p>
                 </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mail">
                    <a href=savedpro24@gmail.com target=_blank>savedpro24@gmail.com</a>
                </div>
            </div>
            <hr align="center" size=3px color=white>
            <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 ">
                <p>Соц. сеть ВКонтакте:</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 ">
                     <a href=https://vk.com/qldanil target=_blank>Захаренко Данил</a>
                 </div>
                 <div class="col-lg-3 col-md-3 col-sm-4 ">
                     <a href=https://vk.com/holybee target=_blank>Ковригина Арина</a>
                 </div>
                <div class="col-lg-3 col-md-3 col-sm-4 ">
                     <a href=https://vk.com/erzhan_vstavay target=_blank>Панов Данил</a>
                 </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}