{% extends "base_wrapper.html" %}
{% load static %}
{% load trans from i18n %}

{% block title %}
    <title>Основная страница</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_main.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid main-window">
        {% if user.is_authenticated %}
            <p ALIGN=CENTER><I>Галерея <span style="color:#ff3300;">избранных</span> картинок</I> </p>
	</FONT>
	<p ALIGN=CENTER>
		 <IMG SRC="pct3.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct4.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct12.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=5 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct15.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=5 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct8.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct11.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct13.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct2.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct9.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct10.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct14.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct5.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct6.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct7.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct1.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
		 <IMG SRC="pct16.jpg" HEIGHT=310 WIDTH=310 ALIGN=middle BORDER=1 VSPACE=20 HSPACE=20>
	</p>
        {% else %}
            <h2 class="text-center text-info">Для просмотра содержимого страницы вам необходимо авторизироваться.</h2>
        {% endif %}
    </div>
{% endblock %}