{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Основная страница</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_main.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid main-window">
        <p ALIGN=LEFT><I>Небольшая галерея <span style="color:#ff3300;">избранных</span> картинок</I></p>
        <hr align="center" size=3px color=#000000>
        <a class="a1" href="">#животные</a>
        <a class="a1" href="">#пейзажи</a>
        <a class="a1" href="">#мемы</a>
        <a class="a1" href="">#космос</a>
        <a class="a1" href="">#лес</a>
        <a class="a1" href="">#весна</a>
        <a class="a1" href="">#зима</a>
        <a class="a1" href="">#игры</a>
        <a class="a1" href="">#фильмы</a>
        <a class="a1" href="">#сериалы</a>
        <a class="a1" href="">#учеба</a>
        <a class="a1" href="">#отдых</a>
        <a class="a1" href="">#путешествия</a>
        <a class="a1" href="">#книги</a>
        <a class="a1" href="">#эстетика</a>
        <a class="a1" href="">#мода</a>
        <a class="a1" href="">#абстракция</a>
        <a class="a1" href="">#ретро</a>
        <h1>У вас {{ count }} фотографий!</h1>
        <div class="container-fluid">
            <p ALIGN=CENTER>
                {% for photo in photos %}
                    <img class="img-fluid" src={{ photo.image.url }} alt={{ photo.title }} HEIGHT=310 WIDTH=310
                         ALIGN=middle
                         BORDER=1 VSPACE=20 HSPACE=20>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}