{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Основная страница</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
        <h1 class="text-center text-info">Вы попали на основную страницу!</h1>
    {% else %}
        <h1 class="text-center text-info">Для просмотра содержимого страницы вам необходимо авторизироваться!</h1>
        <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
    {% endif %}

{% endblock %}