{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Основная страница</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_photo_detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding-top: 20vh;">
        <p>{{ photo.title }}</p>
        <img src={{ photo.image.url }}>
        {% for hashtag in photo.hashtags.all %}
            {{ hashtag.tag }}
        {% endfor %}
        <p>{{ photo.description }}</p>
    </div>
{% endblock %}