{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Profile page</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding-top: 20vh;">
        <div class="container">
            <a class="btn btn-primary text-white mt-sm-1" href="{% url 'photo_import' %}"
               role="button">Import saved photos from <i class="fab fa-vk" data-toggle="tooltip"></i></a>
        </div>
    </div>
    <script src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script src="{% static 'js/scripts_profile.js' %}"></script>
{% endblock %}