{% extends "base_wrapper.html" %}
{% load static %}

{% block title %}
    <title>Основная страница</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles_profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid" style="padding-top: 20vh;">
        <div class="container">
	    <div>
         <p class="a2" href={% url 'photo_import' %}> Импортировать сохраненные фотографии <span style="color:#0099CC;">Вконтакте</span></p>
	    </div>
     </div>
        <div class='progress-wrapper'>
            <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
        </div>
        <div id="progress-bar-message">Waiting for progress to start...</div>
        <input type="hidden" id="Url" data-url="{% url 'celery_progress:task_status' task_id %}" />
    </div>
    <script src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script src="{% static 'js/scripts_profile.js' %}"></script>
{% endblock %}